# Dependencies
node_modules/
yarn.lock
package-lock.json

# Expo
.expo/
dist/
web-build/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Logs
npm-debug.log
yarn-error.log

# macOS specific
.DS_Store
Library/